<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Records<h1>
  <form action="/insert" method="post">
  	<input type="text" name="albumName" placeholder="Album Name">
  	
  	<input type="text" name="bandName" placeholder="Band Name">
  	
  	<input type="text" name="releaseDate" placeholder="Release Date">
  
  	<input type="text" name="topHits" placeholder="Top Hits">
  	
  	<button type="submit">Submit</button>
  </form>
</body>
</html>