<!DOCTYPE html>
<html>
<head>
	<title>log-in</title>
</head>
<body>
	Hello {{user}}
	<form>
		<input type="text" name="username" value="username">
		<input type="password" name="password" value="password">
		<button type="submit">log-in</button>
	</form>
</body>
</html>