html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
  margin:0;
  padding:0;
  align-content: center;
}

h1 {
  color:black;
  margin: auto;
}
.wrapper{
	width:1300px;
	font-weight: lighter;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}
.box{
	width:300px;
	border:1px solid gray;
	border-radius: 5px;
	padding: 10px;	
	margin: 10px;

}
img{
	width:50px;
	height:50px;
	align-content: center;
}